# Fundamentos-de-ETL-com-Python

importando a biblioteca pandas

In [ ]:
#pip install pandera

In [ ]:
import pandas as pd
import pandera as pa

acessando o conjunto de dados apartir do google drive  
**parse_dates** - converte a coluna para o tipo data  
**dayfirst** - muda a forma de leitura para dia/mes/ano

In [ ]:
df_ocorrencia = pd.read_csv('/content/drive/MyDrive/Data-Engeneer-Carrefour/Fundamentos-de-ETL-com-Python/ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)

Analizando as colunas

In [ ]:
df_ocorrencia.columns

Index(['codigo_ocorrencia', 'codigo_ocorrencia1', 'codigo_ocorrencia2',
       'codigo_ocorrencia3', 'codigo_ocorrencia4', 'ocorrencia_classificacao',
       'ocorrencia_latitude', 'ocorrencia_longitude', 'ocorrencia_cidade',
       'ocorrencia_uf', 'ocorrencia_pais', 'ocorrencia_aerodromo',
       'ocorrencia_dia', 'ocorrencia_hora', 'investigacao_aeronave_liberada',
       'investigacao_status', 'divulgacao_relatorio_numero',
       'divulgacao_relatorio_publicado', 'divulgacao_dia_publicacao',
       'total_recomendacoes', 'total_aeronaves_envolvidas',
       'ocorrencia_saida_pista'],
      dtype='object')

Selecionando colunas para compor nosso dataframe

In [ ]:
colunas_selecionadas = ['codigo_ocorrencia', 'codigo_ocorrencia2',
       'ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
       'ocorrencia_aerodromo','ocorrencia_dia', 'ocorrencia_hora',
       'total_recomendacoes']

Indexando as colunas ao dataframe

In [ ]:
df_ocorrencia = df_ocorrencia.filter(items=colunas_selecionadas)

Visualizando as 10 primeiras linhas do dataframe

In [ ]:
df_ocorrencia.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

Criando schema para validação da coluna codigo_ocorrencia  
**schmas permite a validação em tempo real e apresenta erro caso haja inconsistências de dados.**

Alterando a quantidade de asteriscos da coluna ocorrencia_uf no indice 2227 de 3 para 2 asteriscos

In [ ]:
# O metodo Check.str_matches valida a hora através de uma expressão regular python
schema = pa.DataFrameSchema(
    columns = {
        #'codigo':pa.Column(pa.Int, required=False), # required=False -permite a criação de uma coluna que não existe no dataframe
        'codigo_ocorrencia':pa.Column(pa.Int),
        'codigo_ocorrencia2':pa.Column(pa.Int),
        'ocorrencia_classificacao':pa.Column(pa.String),
        'ocorrencia_cidade':pa.Column(pa.String),
        'ocorrencia_uf':pa.Column(pa.String, pa.Check.str_length(2, 2)),
        'ocorrencia_aerodromo':pa.Column(pa.String),
        'ocorrencia_dia': pa.Column(pa.DateTime),
        'ocorrencia_hora':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$') ,nullable=True),# nullable=True - permite a validação de campus null
        'total_recomendacoes':pa.Column(pa.Int)
    }
)

validando schema

In [ ]:
schema.validate(df_ocorrencia)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

Verificando o indice 2227 onde o campu da coluna ocorrencia_uf apresenta 3 asteriscos  
Erro identificado depois da validação no schema  
para corregir precisamos alterar para apenas 2 asteriscos

In [ ]:
df_ocorrencia.loc[2227]

codigo_ocorrencia                          49474
codigo_ocorrencia2                         49474
ocorrencia_classificacao                ACIDENTE
ocorrencia_cidade           ÁGUAS INTERNACIONAIS
ocorrencia_uf                                 **
ocorrencia_aerodromo                        ****
ocorrencia_dia               2013-09-02 00:00:00
ocorrencia_hora                         02:54:00
total_recomendacoes                            0
Name: 2227, dtype: object

Visualizando as 10 ultimas linhas do dataframe

In [ ]:
df_ocorrencia.tail(10)

      codigo_ocorrencia  ...  total_recomendacoes
5742              79800  ...                    0
5743              79824  ...                    0
5744              79753  ...                    0
5745              79755  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[10 rows x 9 columns]

Analizando o tipo de dados de cada coluna

In [ ]:
df_ocorrencia.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

Capturando o mês da coluna ocorrencia_dia

In [ ]:
df_ocorrencia.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [ ]:
df_ocorrencia

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

**df_ocorrencia.codigo_ocorrencia.is_unick** - Verifica se os valores dessa coluna são únicos  
**df_ocorrencia.replace(['!!!!', '####', 'NULL'], pd.NA )** substitui todos os os campos onde existes os valores especificados por **NA** 
**df_ocorrencia.isna**  mostra dados não informado  
**df_ocorrencia.isnull** mostra dados não informado  
**df_ocorrencia.fillna(0)** altera os valores onde ha null para 0  
**df_ocorrencia.fillna(values={'total_recomendacoes': 0})** altera apenas os valores da coluna especificada  
**df_ocorrencia.drop('total_recomendacoes', axis=1, inplace=True)**  deleta a coluna e altera o dataframme
**df_ocorrencia.dropna()** deleta as linhas onde tem valores null  
**df_ocorrencia.dropna(subset=['total_recomendacoes'])** deleta as linhas onde tem valores null na coluna especificada  
**df_ocorrencia.drop_duplicates** deleta linhas duplicadas  
**df_ocorrencia.loc[:,'ocorrencia_cidade']** exibe os dados da coluna ocorrencia_cidade  
**df_ocorrencia.isna().sum()** exibe o total de valores NAN por colunas 
**df_ocorrencia.ocorrencia_cidade.isnull()** verifica linha a linha se a coluna tem valores null, retornará False caso não haja e True do contrário
**df_ocorrencia.loc[df_ocorrencia.ocorrencia_cidade.isnull()]** retornará as linhas contendo o valor null na coluna

In [ ]:
df_ocorrencia.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5752
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
dtype: int64

# Fundamentos-de-ETL-com-Python-Transformação

importando a biblioteca pandas

In [ ]:
#pip install pandera

In [ ]:
import pandas as pd
import pandera as pa

acessando o conjunto de dados apartir do google drive  
**parse_dates** - converte a coluna para o tipo data  
**dayfirst** - muda a forma de leitura para dia/mes/ano

In [ ]:
valores_ausentes = ['**','****','*****','###!','####', 'NULL']
df_ocorrencia = pd.read_csv('/content/drive/MyDrive/Data-Engeneer-Carrefour/Fundamentos-de-ETL-com-Python/ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)

Analizando as colunas

In [ ]:
df_ocorrencia.columns

Index(['codigo_ocorrencia', 'codigo_ocorrencia1', 'codigo_ocorrencia2',
       'codigo_ocorrencia3', 'codigo_ocorrencia4', 'ocorrencia_classificacao',
       'ocorrencia_latitude', 'ocorrencia_longitude', 'ocorrencia_cidade',
       'ocorrencia_uf', 'ocorrencia_pais', 'ocorrencia_aerodromo',
       'ocorrencia_dia', 'ocorrencia_hora', 'investigacao_aeronave_liberada',
       'investigacao_status', 'divulgacao_relatorio_numero',
       'divulgacao_relatorio_publicado', 'divulgacao_dia_publicacao',
       'total_recomendacoes', 'total_aeronaves_envolvidas',
       'ocorrencia_saida_pista'],
      dtype='object')

Selecionando colunas para compor nosso dataframe

In [ ]:
colunas_selecionadas = ['codigo_ocorrencia', 'codigo_ocorrencia2',
       'ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf',
       'ocorrencia_aerodromo','ocorrencia_dia', 'ocorrencia_hora',
       'total_recomendacoes']

Indexando as colunas ao dataframe

In [ ]:
df_ocorrencia = df_ocorrencia.filter(items=colunas_selecionadas)

Visualizando as 10 primeiras linhas do dataframe

In [ ]:
df_ocorrencia

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

Criando schema para validação da coluna codigo_ocorrencia  
**schmas permite a validação em tempo real e apresenta erro caso haja inconsistências de dados.**

Alterando a quantidade de asteriscos da coluna ocorrencia_uf no indice 2227 de 3 para 2 asteriscos

In [ ]:
df_ocorrencia.loc[2227, 'ocorrencia_uf'] = '**'

In [ ]:
# O metodo Check.str_matches valida a hora através de uma expressão regular python
schema = pa.DataFrameSchema(
    columns = {
        #'codigo':pa.Column(pa.Int, required=False), # required=False -permite a criação de uma coluna que não existe no dataframe
        'codigo_ocorrencia':pa.Column(pa.Int),
        'codigo_ocorrencia2':pa.Column(pa.Int),
        'ocorrencia_classificacao':pa.Column(pa.String),
        'ocorrencia_cidade':pa.Column(pa.String),
        'ocorrencia_uf':pa.Column(pa.String, pa.Check.str_length(2, 2)),
        'ocorrencia_aerodromo':pa.Column(pa.String, nullable=True),
        'ocorrencia_dia': pa.Column(pa.DateTime),
        'ocorrencia_hora':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$') ,nullable=True),# nullable=True - permite a validação de campus null
        'total_recomendacoes':pa.Column(pa.Int)
    }
)

validando schema

In [ ]:
schema.validate(df_ocorrencia)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

Verificando o indice 2227 onde o campu da coluna ocorrencia_uf apresenta 3 asteriscos  
Erro identificado depois da validação no schema  
para corregir precisamos alterar para apenas 2 asteriscos

In [ ]:
df_ocorrencia.loc[2227]

codigo_ocorrencia                          49474
codigo_ocorrencia2                         49474
ocorrencia_classificacao                ACIDENTE
ocorrencia_cidade           ÁGUAS INTERNACIONAIS
ocorrencia_uf                                 **
ocorrencia_aerodromo                        ****
ocorrencia_dia               2013-09-02 00:00:00
ocorrencia_hora                         02:54:00
total_recomendacoes                            0
Name: 2227, dtype: object

Visualizando as 10 ultimas linhas do dataframe

In [ ]:
df_ocorrencia.tail(10)

      codigo_ocorrencia  ...  total_recomendacoes
5742              79800  ...                    0
5743              79824  ...                    0
5744              79753  ...                    0
5745              79755  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[10 rows x 9 columns]

Analizando o tipo de dados de cada coluna

In [ ]:
df_ocorrencia.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

Capturando o mês da coluna ocorrencia_dia

In [ ]:
df_ocorrencia.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [ ]:
df_ocorrencia

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

**df_ocorrencia.codigo_ocorrencia.is_unick** - Verifica se os valores dessa coluna são únicos  
**df_ocorrencia.replace(['!!!!', '####', 'NULL'], pd.NA )** substitui todos os os campos onde existes os valores especificados por **NA** 
**df_ocorrencia.isna**  mostra dados não informado  
**df_ocorrencia.isnull** mostra dados não informado  
**df_ocorrencia.fillna(0)** altera os valores onde ha null para 0  
**df_ocorrencia.fillna(values={'total_recomendacoes': 0})** altera apenas os valores da coluna especificada  
**df_ocorrencia.drop('total_recomendacoes', axis=1, inplace=True)**  deleta a coluna e altera o dataframme
**df_ocorrencia.dropna()** deleta as linhas onde tem valores null  
**df_ocorrencia.dropna(subset=['total_recomendacoes'])** deleta as linhas onde tem valores null na coluna especificada  
**df_ocorrencia.drop_duplicates** deleta linhas duplicadas  
**df_ocorrencia.loc[:,'ocorrencia_cidade']** exibe os dados da coluna ocorrencia_cidade  
**df_ocorrencia.isna().sum()** exibe o total de valores NAN por colunas 
**df_ocorrencia.ocorrencia_cidade.isnull()** verifica linha a linha se a coluna tem valores null, retornará False caso não haja e True do contrário
**df_ocorrencia.loc[df_ocorrencia.ocorrencia_cidade.isnull()]** retornará as linhas contendo o valor null na coluna

In [ ]:
# podemos fazer filtro assim, filtro = df_ocorrencia['total_recomendacoes'] > 10 
# ou assim 
filtro = df_ocorrencia.total_recomendacoes > 10
df_ocorrencia.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
63                39992  ...                   11
326               42250  ...                   19
530               43471  ...                   11
727               44377  ...                   11
872               44796  ...                   23
884               44888  ...                   11
1062              45554  ...                   20
1972              47938  ...                   11
2795              52265  ...                   13
3930              66432  ...                   12

[10 rows x 9 columns]

In [ ]:
filtro = df_ocorrencia.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df_ocorrencia.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
29                39709  ...                    2
35                39487  ...                    0
...                 ...  ...                  ...
5741              79754  ...                    0
5744              79753  ...                    0
5746              79769  ...                    0
5748              79757  ...                    0
5750              79756  ...                    0

[737 rows x 9 columns]

In [ ]:
filtro_1 = df_ocorrencia.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro_2 = df_ocorrencia['ocorrencia_uf'] == 'SP'
df_ocorrencia.loc[filtro_1 & filtro_2]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
136               40270  ...  2010-04-15 20:15:00
171               40620  ...  2010-05-06 15:50:00
219               41411  ...  2010-06-08 19:30:00
297               42289  ...  2010-07-29 20:06:00
314               42323  ...  2010-08-05 12:01:00
...                 ...  ...                  ...
5591              79540  ...  2020-09-12 13:10:00
5610              79566  ...  2020-09-27 19:33:00
5704              79739  ...  2020-12-03 14:42:00
5705              79705  ...  2020-12-04 15:30:00
5715              79718  ...  2020-12-11 13:50:00

[137 rows x 10 columns]

In [ ]:
filtro_1 = df_ocorrencia.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro_2 = df_ocorrencia['ocorrencia_uf'] == 'SP'
df_ocorrencia.loc[filtro_1 | filtro_2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
5744              79753  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5748              79757  ...                    0
5750              79756  ...                    0

[1973 rows x 9 columns]

In [ ]:
filtro_1 = (df_ocorrencia.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df_ocorrencia.ocorrencia_classificacao == 'INCIDENTE') 
filtro_2 = df_ocorrencia['ocorrencia_uf'] == 'SP'
df_ocorrencia.loc[filtro_1 & filtro_2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
5704              79739  ...                    0
5705              79705  ...                    0
5715              79718  ...                    0
5742              79800  ...                    0
5747              79804  ...                    0

[985 rows x 9 columns]

In [ ]:
filtro_1 = df_ocorrencia.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE'])
filtro_2 = df_ocorrencia['ocorrencia_uf'] == 'SP'
df_ocorrencia.loc[filtro_1 & filtro_2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
5704              79739  ...                    0
5705              79705  ...                    0
5715              79718  ...                    0
5742              79800  ...                    0
5747              79804  ...                    0

[985 rows x 9 columns]

In [ ]:
# todas as cidades que começãm com a letra C
filtro_letra = df_ocorrencia.ocorrencia_cidade.str[0] == "C"
df_ocorrencia.loc[filtro_letra]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
5661              79649  ...                    0
5663              79652  ...                    0
5680              79683  ...                    0
5696              79692  ...                    0
5747              79804  ...                    0

[825 rows x 9 columns]

In [ ]:
# todas as cidades que terminam com a letra A
filtro_ultima_letra = df_ocorrencia.ocorrencia_cidade.str[-1] == "A"
df_ocorrencia.loc[filtro_ultima_letra]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
5738              79787  ...                    0
5739              79749  ...                    0
5743              79824  ...                    0
5744              79753  ...                    0
5750              79756  ...                    0

[1556 rows x 9 columns]

In [ ]:
# todas as cidades que contém MA
filtro_contains = df_ocorrencia.ocorrencia_cidade.str.contains('MA')
df_ocorrencia.loc[filtro_contains]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
5732              79745  ...                    0
5739              79749  ...                    0
5741              79754  ...                    0
5745              79755  ...                    0
5746              79769  ...                    0

[488 rows x 9 columns]

In [ ]:
# todas as cidades que contém MA ou LA
filtro_contains = df_ocorrencia.ocorrencia_cidade.str.contains('MA | LA')
df_ocorrencia.loc[filtro_contains]

      codigo_ocorrencia  ...  total_recomendacoes
28                39321  ...                    2
110               40089  ...                    0
449               43449  ...                    2
481               43794  ...                    0
1696              46693  ...                    0
1816              46973  ...                    0
1893              47110  ...                    3
2113              48876  ...                    0
2251              49814  ...                    0
3240              53381  ...                    0
4359              77857  ...                    0
4511              77966  ...                    0
4786              78494  ...                    0
4832              78571  ...                    0
5173              79004  ...                    0
5302              79331  ...                    0
5679              79678  ...                    0
5724              79740  ...                    0

[18 rows x 9 columns]

In [ ]:
# todas as ocorrencias do ano de 2015
filtro_ano = df_ocorrencia.ocorrencia_dia.dt.year == 2015
df_ocorrencia.loc[filtro_ano]

      codigo_ocorrencia  ...  total_recomendacoes
2996              52992  ...                    3
2997              52979  ...                    0
2998              53073  ...                    0
2999              53074  ...                    0
3000              52976  ...                    6
...                 ...  ...                  ...
3462              60632  ...                    0
3463              60600  ...                    0
3464              60642  ...                    0
3465              60631  ...                    2
3466              60649  ...                    0

[471 rows x 9 columns]

In [ ]:
# todas as ocorrencias do ano de 2015 e mês 12
filtro_ano_mes = (df_ocorrencia.ocorrencia_dia.dt.year == 2015) & (df_ocorrencia.ocorrencia_dia.dt.month == 12)
df_ocorrencia.loc[filtro_ano_mes]

      codigo_ocorrencia  ...  total_recomendacoes
3428              53573  ...                    0
3429              60601  ...                    0
3430              53634  ...                    0
3431              53636  ...                    0
3432              53575  ...                    0
3433              60637  ...                    0
3434              53625  ...                    3
3435              53626  ...                    1
3436              53628  ...                    1
3437              53629  ...                    0
3438              53631  ...                    0
3439              60636  ...                    0
3440              53627  ...                    0
3441              60604  ...                    0
3442              60611  ...                    0
3443              60613  ...                    0
3444              60629  ...                    0
3445              53630  ...                    0
3446              60603  ...                    0
3447              60612  ...                    0
3448              60783  ...                    3
3449              53639  ...                    0
3450              60609  ...                    0
3451              60616  ...                    0
3452              60620  ...                    4
3453              60645  ...                    0
3454              60608  ...                    0
3455              60625  ...                    1
3456              60605  ...                    0
3457              60610  ...                    0
3458              60602  ...                    0
3459              60615  ...                    0
3460              60640  ...                    0
3461              60641  ...                    0
3462              60632  ...                    0
3463              60600  ...                    0
3464              60642  ...                    0
3465              60631  ...                    2
3466              60649  ...                    0

[39 rows x 9 columns]

In [ ]:
# todas as ocorrencias do ano de 2015 e mês 12
filtro_ano = df_ocorrencia.ocorrencia_dia.dt.year == 2015
filtro_mes = df_ocorrencia.ocorrencia_dia.dt.month == 12
df_ocorrencia.loc[filtro_ano & filtro_mes]
# Dessa forma o código fica mais legível

      codigo_ocorrencia  ...  total_recomendacoes
3428              53573  ...                    0
3429              60601  ...                    0
3430              53634  ...                    0
3431              53636  ...                    0
3432              53575  ...                    0
3433              60637  ...                    0
3434              53625  ...                    3
3435              53626  ...                    1
3436              53628  ...                    1
3437              53629  ...                    0
3438              53631  ...                    0
3439              60636  ...                    0
3440              53627  ...                    0
3441              60604  ...                    0
3442              60611  ...                    0
3443              60613  ...                    0
3444              60629  ...                    0
3445              53630  ...                    0
3446              60603  ...                    0
3447              60612  ...                    0
3448              60783  ...                    3
3449              53639  ...                    0
3450              60609  ...                    0
3451              60616  ...                    0
3452              60620  ...                    4
3453              60645  ...                    0
3454              60608  ...                    0
3455              60625  ...                    1
3456              60605  ...                    0
3457              60610  ...                    0
3458              60602  ...                    0
3459              60615  ...                    0
3460              60640  ...                    0
3461              60641  ...                    0
3462              60632  ...                    0
3463              60600  ...                    0
3464              60642  ...                    0
3465              60631  ...                    2
3466              60649  ...                    0

[39 rows x 9 columns]

In [ ]:
df_ocorrencia.ocorrencia_dia.astype(str) +" "+ df_ocorrencia.ocorrencia_hora

0       2010-01-03 12:00:00
1       2010-01-03 11:05:00
2       2010-01-03 03:00:00
3       2010-01-04 17:30:00
4       2010-01-05 19:25:00
               ...
5747    2020-12-29 19:00:00
5748    2020-12-30 18:30:00
5749    2020-12-30 00:54:00
5750    2020-12-31 09:00:00
5751    2020-12-31 13:24:00
Length: 5752, dtype: object

In [ ]:
# to_datetime transforma a coluna especificada no tipo datetime
df_ocorrencia['ocorrencia_dia_hora'] = pd.to_datetime(df_ocorrencia.ocorrencia_dia.astype(str) +" "+ df_ocorrencia.ocorrencia_hora)

In [ ]:
df_ocorrencia.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [ ]:
df_ocorrencia

      codigo_ocorrencia  ...  ocorrencia_dia_hora
0                 40211  ...  2010-01-03 12:00:00
1                 40349  ...  2010-01-03 11:05:00
2                 40351  ...  2010-01-03 03:00:00
3                 39527  ...  2010-01-04 17:30:00
4                 40324  ...  2010-01-05 19:25:00
...                 ...  ...                  ...
5747              79804  ...  2020-12-29 19:00:00
5748              79757  ...  2020-12-30 18:30:00
5749              79802  ...  2020-12-30 00:54:00
5750              79756  ...  2020-12-31 09:00:00
5751              79844  ...  2020-12-31 13:24:00

[5752 rows x 10 columns]

In [ ]:
filtro_data_hora_1 = df_ocorrencia.ocorrencia_dia_hora >= '2010-01-03 11:00:00'
filtro_data_hora_2 = df_ocorrencia.ocorrencia_dia_hora <= '2010-01-08 13:00:00'
df_ocorrencia.loc[filtro_data_hora_1 & filtro_data_hora_2]

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00
3              39527  ...  2010-01-04 17:30:00
4              40324  ...  2010-01-05 19:25:00
5              39807  ...  2010-01-06 17:53:00
6              40215  ...  2010-01-07 18:40:00

[6 rows x 10 columns]

In [ ]:
filtro_ano_2015 = df_ocorrencia.ocorrencia_dia.dt.year == 2015
filtro_mes_03 = df_ocorrencia.ocorrencia_dia.dt.month == 3
df_ocorrencia_2015_03 = df_ocorrencia.loc[filtro_ano_2015 & filtro_mes_03]

In [ ]:
# cuidado ao agrupar colunas onde haja valores null
df_ocorrencia_2015_03.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [ ]:
# count() conta as ocorrencias de cada linha em cada coluna
df_ocorrencia_2015_03.groupby(['codigo_ocorrencia']).count()

                   codigo_ocorrencia2  ...  ocorrencia_dia_hora
codigo_ocorrencia                      ...
53109                               1  ...                    1
53112                               1  ...                    1
53120                               1  ...                    1
53148                               1  ...                    1
53149                               1  ...                    1
53151                               1  ...                    1
53152                               1  ...                    1
53153                               1  ...                    1
53154                               1  ...                    1
53164                               1  ...                    1
53165                               1  ...                    1
53166                               1  ...                    1
53167                               1  ...                    1
53168                               1  ...                    1
53169                               1  ...                    1
53170                               1  ...                    1
53178                               1  ...                    1
53179                               1  ...                    1
53180                               1  ...                    1
53181                               1  ...                    1
53182                               1  ...                    1
53183                               1  ...                    1
53184                               1  ...                    1
53185                               1  ...                    1
53186                               1  ...                    1
53187                               1  ...                    1
53188                               1  ...                    1
53189                               1  ...                    1
53190                               1  ...                    1
53193                               1  ...                    1
53194                               1  ...                    1
53211                               1  ...                    1
53212                               1  ...                    1
53213                               1  ...                    1
53238                               1  ...                    1
53412                               1  ...                    1
53596                               1  ...                    1

[37 rows x 9 columns]

In [ ]:
# count() conta as ocorrencias de cada linha em cada coluna e agrupa por codigo_ocorrencia
#df_ocorrencia_2015_03.groupby(['codigo_ocorrencia']).codigo_ocorrencia.count() assim
# ou assim
df_ocorrencia_2015_03.groupby(['codigo_ocorrencia'])['codigo_ocorrencia'].count()

codigo_ocorrencia
53109    1
53112    1
53120    1
53148    1
53149    1
53151    1
53152    1
53153    1
53154    1
53164    1
53165    1
53166    1
53167    1
53168    1
53169    1
53170    1
53178    1
53179    1
53180    1
53181    1
53182    1
53183    1
53184    1
53185    1
53186    1
53187    1
53188    1
53189    1
53190    1
53193    1
53194    1
53211    1
53212    1
53213    1
53238    1
53412    1
53596    1
Name: codigo_ocorrencia, dtype: int64

In [ ]:
# Conta pelo codigo_ocorrencia e agrupa o ocorrencia_classificacao
df_ocorrencia_2015_03.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()
# Mais uma vez cuidado ao contar colunas que contenham valores nulos

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [ ]:
# sizee() conta o numero de linhas que foram agrupadas, assim não corremos o risco de incluir valores nulos de colunas
df_ocorrencia_2015_03.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [ ]:
# sort_values(), ordena por ordem crescente, parametro - ascending=True  é default
df_ocorrencia_2015_03.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [ ]:
filtro_ano_2010 = df_ocorrencia.ocorrencia_dia.dt.year == 2010
filtro_regiao_sudeste = df_ocorrencia.ocorrencia_uf.isin(['SP, MG', 'ES','RJ'])
df_ocorrencia_sudeste_2010 = df_ocorrencia.loc[filtro_ano_2010 & filtro_regiao_sudeste]

In [ ]:
df_ocorrencia_sudeste_2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
19               44575  ...  2010-01-17 12:27:00
23               40311  ...  2010-01-19 13:20:00
24               41577  ...  2010-01-19 12:16:00
..                 ...  ...                  ...
526              43527  ...  2010-12-12 19:00:00
527              43462  ...  2010-12-13 11:00:00
536              43921  ...  2010-12-18 13:15:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[70 rows x 10 columns]

In [ ]:
#df_ocorrencia_sudeste_2010[df_ocorrencia_sudeste_2010['ocorrencia_classificacao'].ACIDENTE] == True
df_ocorrencia_sudeste_2010.loc[df_ocorrencia_sudeste_2010.ocorrencia_classificacao=='ACIDENTE']

     codigo_ocorrencia  ...  ocorrencia_dia_hora
31               39323  ...  2010-01-24 16:15:00
49               39295  ...  2010-02-06 21:09:00
149              40447  ...  2010-04-21 18:55:00
155              40554  ...  2010-04-27 18:47:00
248              41729  ...  2010-06-25 13:05:00
274              41750  ...  2010-07-12 19:53:00
326              42250  ...  2010-08-12 12:26:00
440              43153  ...  2010-10-12 19:00:00
536              43921  ...  2010-12-18 13:15:00

[9 rows x 10 columns]

In [ ]:
df_ocorrencia_sudeste_2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            9
INCIDENTE          57
INCIDENTE GRAVE     4
dtype: int64

In [ ]:
df_ocorrencia_sudeste_2010.count()

codigo_ocorrencia           70
codigo_ocorrencia2          70
ocorrencia_classificacao    70
ocorrencia_cidade           70
ocorrencia_uf               70
ocorrencia_aerodromo        35
ocorrencia_dia              70
ocorrencia_hora             70
total_recomendacoes         70
ocorrencia_dia_hora         70
dtype: int64

In [ ]:
filtro_ocorrencia_cidade = df_ocorrencia_sudeste_2010.ocorrencia_cidade == 'RIO DE JANEIRO'
df_ocorrencia_sudeste_2010.loc[filtro_ocorrencia_cidade].total_recomendacoes.sum()

25

In [ ]:
df_ocorrencia_sudeste_2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBGL     3
SBJR     3
SBME     0
SBRJ    19
SBVT     0
NaN      8
Name: total_recomendacoes, dtype: int64

In [ ]:
df_ocorrencia_sudeste_2010.loc[filtro_ocorrencia_cidade].groupby(['ocorrencia_cidade']).total_recomendacoes.sum()

ocorrencia_cidade
RIO DE JANEIRO    25
Name: total_recomendacoes, dtype: int64

In [ ]:
filtro_total_recomendacoes = df_ocorrencia_sudeste_2010.total_recomendacoes > 0
df_ocorrencia_sudeste_2010.loc[filtro_total_recomendacoes].groupby(['ocorrencia_cidade', df_ocorrencia_sudeste_2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade  ocorrencia_dia
RESENDE            4                  8
RIO DE JANEIRO     4                  3
                   7                  3
                   8                 19
Name: total_recomendacoes, dtype: int64